* {
  box-sizing: border-box;
  font-family: "easyJet Rounded Book";
}
.container {
  width: 960px;
  margin: 0 auto;
  /* border: solid 4px orange; */
}
h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
p {
  margin-bottom: 10px;
  font-size: 13px;
}

.rounded-demi {
  font-family: "easyJet Rounded Demi";
}
/* --------HEADER--------- */
.rounded-demi > i {
  color: white;
  font-size: 25px;
  display: none;
}
.connected {
  color: white;
  font-size: 25px;
  text-align: center;
  display: none;
}
