/* ------MAX-WIDTH-960PX------ */

/* ------WORDLWIDE------ */
.worldwide img {
  border-radius: 15px 15px 0px 0px;
}
.worldwide {
  /* border: solid 2px red; */
  flex-direction: column;
  width: 600px;
}
.worldwide > div {
  /* border: solid 5px yellow; */
  width: 100%;
}
.worldwide > div h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: solid 1px blue; */
}
.worldwide div button {
  margin-top: 5px;
  /* border: solid 2px green; */
  margin-left: 400px;
}

/* ------BRETAGNE------ */

.bretagne img {
  border-radius: 15px 15px 0px 0px;
}
.bretagne {
  /* border: solid 5px red; */
  flex-direction: column;
  width: 600px;
  /* height: 600px; */
}
.bretagne > div > div {
  /* border: solid 2px orange; */
}
.bretagne > div {
  /* border: solid 5px yellow; */
}
.bretagne > div h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: solid 1px blue; */
}
.bretagne div button {
  /* border: solid 2px green; */
  margin-left: 400px;
  margin-bottom: 10px;
}

/* ------IMAGES-DU-BAS------ */
.images-bas {
  flex-wrap: wrap;
  /* border: solid 3px yellow; */
}

.last-image {
  width: 600px;
  height: 200px;
  /* border: solid 6px green; */
}
