/* ------MAX-WIDTH-670PX------ */

.beach {
  height: 700px;
  visibility: hidden;

  /* border: solid 3px red; */
}
.infos-sur-la-plage {
  display: none;
}
.header-media button,
a {
  display: none;
}
.flag {
  display: none;
}
.connected {
  display: inline;
  margin-right: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
}
.connected p {
  font-size: 15px;
  font-family: "easyJet Rounded Book";
}

.div1-sur-image {
  /* border: solid 4px blue; */
  display: flex;
  height: 505px;
  background-color: #eee8e8;
}

.booking-menu-div {
  /* border: solid 2px red; */
  width: 310px;
  background-color: #eee8e8;
}
.le-booking-menu {
  /* border: solid 4px green; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.bandeau-bas-beach {
  background-color: white;
  /* border: solid 2px blue; */
}

.offres {
  width: 420px;
  margin-left: 10px;
  /* border: solid 4px red; */
}

.offre2 {
  display: none;
}

/* ------WORLDWIDE------ */
.worldwide {
  /* border: solid 5px yellow; */
  height: 350px;
  width: 300px;
}
.worldwide > div {
  /* border: solid 2px blue; */
  width: 300px;
  line-height: 13px;
}
.worldwide div button {
  /* border: solid 2px red; */
  margin-left: 110px;
  margin-top: 10px;
}
.worldwide img {
  object-fit: cover;
  object-position: top;
  /* border: solid 4px green; */
  height: 150px;
}
/* ------BRETAGNE------ */
.bretagne {
  /* border: solid 5px yellow; */
  height: 460px;
  width: 300px;
}
.bretagne p {
  /* border: solid 1px red; */
  width: 280px;
}
.bretagne h2 {
  /* border: solid 1px green; */
}
.bretagne div button {
  margin-left: 90px;
  margin-bottom: 70px;
  /* border: solid 2px black; */
  width: 180px;
}
.bretagne img {
  object-fit: cover;
  object-position: top;
  /* border: solid 4px green; */

  height: 150px;
}
/* -----IMAGES-DU-BAS------ */
.images-bas {
  flex-wrap: nowrap;
  overflow: scroll;
  /* border: solid 3px yellow; */
  /* width: 600px; */
  padding-left: 300px;
  margin-left: 10px;
}
.images-bas .first {
  /* border: solid 2px blue; */
  margin-left: 200px;
}
.last-image {
  width: 280px;
}

/* .images-bas::-webkit-scrollbar {
  display: none;
} */
/* ------CAROUSSEL-BAS------ */
.div-bas div {
  background-color: #333333;
  /* border: solid 2px red; */
  width: 140px;
  margin-left: 24px;
}
.container .div-bas {
  /* border: solid 2px blue; */
  gap: 20px;
}
/* ------MENU-FOOTER------ */

footer div {
  flex-direction: column;
  align-items: center;
  /* border: solid 2px red; */
}
footer ul {
  display: none;
}
